<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProject.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <title>Страница авторизации</title>
</head>
<body>
    <div class="containerRegister">
        <form th:action="@{/auth/login}" method="post">
            <div>
                <img class="logo1" src="/Img/logo.jpg">
                <span class="loginUser">
                    Вход в личный кабинет
                </span>
            </div>
            <div class="listOfElements">
                <input class="inputLoginUser" type="text" placeholder="Логин" name="username">
                <input class="inputLoginUser" type="password" placeholder="Пароль" name="password">
                <input class="buttonLoginUser" type="submit" value="Войти">
                <div class="additionalWidget">
                    <div>
                        <a th:href="@{/auth/register}" style="text-decoration: none">
                            <span class="textLoginUser1">
                                Регистрация
                            </span>
                        </a>
                    </div>
                    <hr class="hrLoginUser">
                    <div>
                        <span class="textLoginUser2" href="">
                            Служба поддержки
                        </span>
                    </div>
                </div>
            </div>
            <img class="imgIconsOnTheAppStore" src="/Img/appStore.jpg">
            <img class="imgIconsOnTheAppStore" src="/Img/googlePlay.jpg">
        </form>
    </div>  
</body>
</html>