<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProject.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
    <div class="containerRegister">
        <form th:action="@{/auth/register}" role="form" method="post" th:object="${clientRegister}">
            <div>
                <img class="logo1" src="/Img/logo.jpg">
                <span class="loginUser">
                    Регистрация
                </span>
            </div>
            <div class="listOfElements">
                <input class="inputLoginUser"
                       type="text"
                       placeholder="№ Лицевого счёта"
                       id="name"
                       name="name"
                       >
                <input class="inputLoginUser"
                       type="text"
                       placeholder="Фамилия"
                       id="surname"
                       name="surname"
                       th:field="*{surname}">
                <input class="inputLoginUser"
                       type="text"
                       placeholder="Имя"
                       id="nameClient"
                       name="nameClient"
                       th:field="*{name}">
                <input class="inputLoginUser"
                       type="text"
                       placeholder="Отчества"
                       id="patronymic"
                       name="patronymic"
                       th:field="*{patronymic}">
                <input class="inputLoginUser"
                       type="text"
                       placeholder="Мобильный телефона"
                       id="phone"
                       name="phone"
                       th:field="*{phone}">
                <input class="inputLoginUser"
                       type="text"
                       placeholder="Логин"
                       id="nameUser"
                       name="nameUser"
                       th:field="*{user.login}">
                <input class="inputLoginUser"
                       type="text"
                       placeholder="Пароль"
                       id="password"
                       name="password"
                       th:field="*{user.password}">
                <input class="inputLoginUser" type="text" name="tel" placeholder="Подтверждение пароля">
                <input class="inputLoginUser"
                       type="text"
                       placeholder="Электронная почта"
                       id="email"
                       name="email"
                       th:field="*{email}">
                <!--<input class="inputLoginUser" type="text" name="tel" placeholder="Адрес">-->
                <button class="buttonLoginUser" >
                    Зарегистрироваться
                </button>
                <div class="additionalWidget">
                    <div>
                        <a href="login.html" style="text-decoration: none">
                            <span class="textLoginUser1">
                                Авторизоваться
                            </span>
                        </a>
                    </div>
                    <hr class="hrLoginUser" >
                    <div>
                        <span class="textLoginUser2" href="" >
                            Служба поддержки
                        </span>
                    </div>
                </div> 
            </div> 
            <img class="imgIconsOnTheAppStore" src="/Img/appStore.jpg">
            <img class="imgIconsOnTheAppStore" src="/Img/googlePlay.jpg">
        </form>
    </div>      
</body>
</html>