<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProject.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Новости</title>
</head>
<body>
    <header class="navigationBar">
        <img class="logoMini" src="/Img/logo.jpg">
        <ul id="menu">
            <li><a th:href="@{/auth/accruals}">Начисления</a></li>
            <li><a th:href="@{/auth/home}">Показания</a></li>
            <li><a th:href="@{/auth/application}">Заявки</a></li>
            <li><a th:href="@{/auth/service}">Услуги</a></li>
            <li><a th:href="@{/auth/news}">Новости</a></li>
        </ul>
        <a th:href="@{/auth/profile}">
            <img class="imgAva" src="/Img/ava.jpg">
        </a>
        <span class="textNumber" th:text="${modelHelper.client.phone}"></span>
        <a th:href="@{/auth/login}">
            <img class="materialSymbolsOutlined" src="/Img/logoOut.png"/>
        </a>
    </header>
    <h3 class="titlePage">Новости</h3>
    <div class="containerContentBlock">
        <div>
            <div class="containerMainNews">
                <div class="container-1-2">
                    <a class="containImgNews" href="">
                        <img class="imgMainNews" src="/Img/1.jpg">
                    </a>
                </div>
                <div class="container-1-2">
                    <h3 class="headlineMainNews">
                        Отключение горячей воды в Самаре
                    </h3>
                    <p class="textMainNews">
                        Горячую воду летом отключают для подготовки к новому отопительному сезону.
                        Эти работы направлены на поддержание системы централизованного теплоснабжения в
                        безаварийном состоянии в холодное время года - с октября по апрель включительно.
                    </p>
                </div>
            </div>
            <div class="containerNews">
                <div class="container-1-4">
                    <a class="containImgNews" href="">
                        <img class="imgNews" src="/Img/1.jpg">
                    </a>
                    <h3 class="headlineNews">
                        Отключение горячей воды в Самаре
                    </h3>
                    <p class="textNews">
                        Горячую воду летом отключают для подготовки к новому отопительному сезону.
                        Эти работы направлены на поддержание системы ...
                    </p>
                </div>
                <div class="container-1-4">
                    <a class="containImgNews" href="">
                        <img class="imgNews" src="/Img/2.jpg">
                    </a>
                    <h3 class="headlineNews">
                        Цены на газ, электроэнергию, воду в Самаре с 1 декабря 2022 года
                    </h3>
                    <p class="textNews">
                        С 1 декабря 2022 года в Самарской области начали действовать новые тарифы
                        на коммунальные услуги. Их утвердил региональный департамент ценового
                        и тарифного регулирования. ...
                    </p>
                </div>
                <div class="container-1-4">
                    <a class="containImgNews" href="">
                        <img class="imgNews" src="/Img/3.jpg">
                    </a>
                    <h3 class="headlineNews">
                        В Самаре увеличили цены на холодную воду
                    </h3>
                    <p class="textNews">
                        С декабря 2022 года кубометр холодной воды подорожал с 37,94 рубля
                        до 41,17 рубля. Тариф на водоотведение вырос с 20,88 рубля до 23,03
                        рубля, — говорится в документе. ...
                    </p>
                </div>
                <div class="container-1-4">
                    <a class="containImgNews" href="">
                        <img class="imgNews" src="/Img/4.jpg">
                    </a>
                    <h3 class="headlineNews">
                        Вода Крыма: 23 марта в связи с ремонтными работами на сетях будет ограничено водоснабжение
                    </h3>
                    <p class="textNews">
                        Силами филиала будет осуществляться подвоз питьевой воды.
                        Узнать актуальную информацию по расположению водовозок, а также оставить заявку на
                        подвоз воды можно по телефону диспетчерской ...
                    </p>
                </div>
                <div class="container-1-4">
                    <a class="containImgNews" href="">
                        <img class="imgNews" src="/Img/4.jpg">
                    </a>
                    <h3 class="headlineNews">
                        Черный ворон и белый волк
                    </h3>
                    <p class="textNews">
                        Уважаемые работники сферы бытового обслуживания населения и ЖКХ!
                        Поздравляю вас с профессиональным ...
                    </p>
                </div>
                <div class="container-1-4">
                    <a class="containImgNews" href="">
                        <img class="imgNews" src="/Img/4.jpg">
                    </a>
                    <h3 class="headlineNews">
                        Черный ворон и белый волк
                    </h3>
                    <p class="textNews">
                        Уважаемые работники сферы бытового обслуживания населения и ЖКХ!
                        Поздравляю вас с профессиональным ...
                    </p>
                </div>
            </div>
            <script scr="app.js" type="text/javascript"></script>
        </div>
    </div>
</body>
</html>