.element::-webkit-scrollbar {
    width: 0;
} 
::-webkit-scrollbar {
    width: 0;
}
body {
    max-width: 1440px;
    height: 1024px;
    position: relative;
    background: #FFFFFF;
}

.containerRegister{
    width: 500px;
    display: block;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo1 {
    justify-content: center;
    width: 200px;
    height: 140px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    background: url(лого.jpg);
}

.loginUser{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 1000;
    font-size: 28px;
    line-height: 48px;
    color: #212121;
}

.listOfElements {
    margin-top: 40px;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}

.inputLoginUser {
    box-sizing: border-box;
    margin-top: 24px;
    float: center;

    width: 380px;
    height: 52px;
    border: 1px solid #E4DCD3;
    border-radius: 4px;

    padding-left: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

.buttonLoginUser {
    width: 380px;
    height: 56px;
    margin-top: 44px;

    background: #004F9E;
    border-radius: 4px;
    border-color: #FFFFFF;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.additionalWidget {
    width: 400px;
    height: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.textLoginUser1{
    width: 115px;
    height: 24px;
    margin-top: 120px;

    font-family: 'Montserrat';
    font-style: initial;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #004F9E;
}

.hrLoginUser{
    box-sizing: border-box;
    height: 1px;

    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

.textLoginUser2{
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #004F9E;
    display: inline;
    border-bottom: 1px solid #004F9E;
}

.imgIconsOnTheAppStore{
    width: 98px;
    height: 32px;
    opacity: 0.8;
}



.navigationBar  {
    margin-top: -28px;
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.logoMini {
    position: absolute;
    width: 80px;
    height: 56px;
    left: 152px;
    top: 12px;
}

#menu {
    padding-left: 332px;
    list-style-type: none;
    overflow: hidden;
}

#menu li {
    float: left;
    margin-right: 3%;
}

#menu li a {
    float: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;

    font-weight: bold;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #212121;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#menu li a:hover {
    color: #004F9E;
}

.imgAva{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1075px;
    top: 20px;
}

.textNumber {
    position: absolute;
    width: 109px;
    height: 16px;
    left: 1119px;
    top: 32px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    
    color: #212121;
}

.materialSymbolsOutlined {
    position: absolute;
    height:16px;
    
    left: 1272.47px;
    top: 32px;
}

.titlePage{
    position: relative;
    width: 173px;
    height: 36px;
    left: 152px;
    top: 120px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #212121;
}

.informText{
    position: absolute;
    height: 36px;
    top: 204px;

    font-weight: 600;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 36px;

    color: #666666;
}

.informText:hover {
    color: #004F9E;
    display: inline;
    border-bottom: 1px solid #004F9E;
}



.inputSubmissionOfIndicators {
    box-sizing: border-box;

    position: absolute;
    width: 192px;
    height: 48px;
    top: 328px;

    border: 1px solid #E4DCD3;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-weight: bolder;
    font-style: normal;
    padding-left: 20px;
}

.textSubmissionOfIndicators{
    position: absolute;
    width: 53px;
    height: 24px;
    top: 288px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #212121;
}

.costData{
    width: 254px;
    height: 84px;
    top: 480px;

    background: #F5F5F5;
    display: flex;
    margin: 360px 60px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    flex: 5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.materialSymbols {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 24px;
}

.costContain{
    position: absolute;
    width: 254px;
    height: 84px;
    left: 152px;
    top: 464px;

    background: #F5F5F5;
    border-radius: 4px;
}

#textContain h6 {
    position: absolute;
    margin-top: 20px;
    margin-left: 72px;
    margin-bottom: 48px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #212121;
}

#textContain p {
    position: absolute;
    margin-top: 40px;
    margin-left: 72px;
    margin-bottom: 20px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    
    color: #212121;
}

.buttonTestimory {
    box-sizing: border-box;
    position: absolute;
    width: 174px;
    height: 44px;
    left: 152px;
    top: 576px;

    border: 1px solid #004F9E;
    border-radius: 4px;
}

.textButtonTestimory {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #004F9E;
}

.h3Testimory {
    position: absolute;
    width: 112px;
    height: 24px;
    left: 152px;
    top: 664px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    
    color: #212121;
}

.inputTestimory {
    box-sizing: border-box;
    position: absolute;
    width: 352px;
    height: 48px;
    left: 152px;
    top: 704px;

    border: 1px solid #E4DCD3;
    border-radius: 4px;
    color: #666666;
}

.buttonTestimoryTwo {
    position: absolute;
    width: 300px;
    height: 56px;
    left: 152px;
    top: 812px;
    
    background: #004F9E;
    border-radius: 4px;
    border-style: none;
}

.textButtonTestimoryTwo {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}

.hrAccruals{
    box-sizing: border-box;
    position: absolute;
    width: 1136px;
    height: 1px;
    left: 152px;
    top: 240px;

    border: 1px solid #E4DCD3;
    border-radius: 3px;
}

#tableAccruals table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
    text-align: center;

    position: absolute;
    width: 1136px;
    height: 72px;
    left: 152px;
    top: 340px;
    }
#tableAccruals table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
#tableAccruals table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
#tableAccruals table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
#tableAccruals table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
#tableAccruals table tbody tr:nth-child(even){
	background: #f3f3f3;
}
#tableAccruals table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
#tableAccruals table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}




.containerContentBlock {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}

.containerMainNews {
    display: flex;
    flex-direction: row;
}
.container-1-2 {
    padding-top: 120px;
    align-items: center; 
    justify-content: center;
    width: 50%;  
    margin: 0px 10px;
}
.containImgNews {
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: #C4C4C4;
}
.imgMainNews {
    width: 100%;
    height: 288px;
}
.headlineMainNews {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.textMainNews {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.containerNews {
    display: flex;
    flex-wrap: wrap;
}
.container-1-4 {
    padding-top: 40px;
    width: 23%;
    align-items: center; 
    justify-content: center;
    margin: 0px auto;
}
.imgNews {
    width: 100%;
    height: 192px;
}
.headlineNews {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.textNews {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}