<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styleProject.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <title>Страница авторизации</title>
</head>
<body>
    <div>
        <div>
            <div>
                <form class="navigationBar">
                    <img class="logo1" src="./Img/logo.jpg">
                    <span class="loginUser">
                        Вход в личный кабинет
                    </span>
                    <div>
                        <div>
                            <input class="inputLoginUser" type="text" placeholder="Логин">
                        </div>
                        <div>
                            <input class="inputLoginUser" style="margin-top: 74px" type="text" placeholder="Пароль">
                        </div>
                    </div>    
                    <div>
                        <button class="buttonLoginUser">
                        Далее
                        </button>
                    </div>
                    <div>
                        <span class="textLoginUser1" href="">
                            Демо -режим
                        </span>
                    </div>
                    <hr class="hrLoginUser">
                    <div>
                        <span class="textLoginUser2" href="">
                            Служба поддержки
                        </span>
                    </div>
                    <img class="img1" src="./Img/appStore.jpg">
                    <img class="img2" src="./Img/googlePlay.jpg">
                </form>
            </div>
        </div>
    </div>      
</body>
</html>