<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styleProject.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
    <div>
        <div>
            <div>
                <form class="" th:action="@{/auth/register}" role="form" method="post" th:object="${user}">
                    <img class="logo1" src="/Img/logo.jpg">
                    <span class="loginUser">
                        Регистрация
                    </span>
                    <div>
                        <!--<div>
                            <input class="inputLoginUser" type="text" name="№" placeholder="№ Лицевого счёта">
                        </div>
                        <div>
                            <input class="inputLoginUser" style="margin-top: 74px" type="text" name="fam" placeholder="Фамилия">
                        </div>
                        <div>
                            <input class="inputLoginUser" style="margin-top: 148px" type="text" name="tel" placeholder="Имя">
                        </div>
                        <div>
                            <input class="inputLoginUser" style="margin-top: 222px" type="text" name="tel" placeholder="Отчества">
                        </div>
                        <div>
                            <input class="inputLoginUser" style="margin-top: 296px" type="text" name="tel" placeholder="Мобильный телефона">
                        </div>-->
                        <div>
                            <input class="inputLoginUser"
                                   style="margin-top: 370px"
                                   type="text"
                                   placeholder="Логин"
                                   id="login"
                                   name="login"
                                   th:field="*{login}">
                        </div>
                        <div>
                            <input class="inputLoginUser"
                                   style="margin-top: 444px"
                                   type="password"
                                   placeholder="Пароль"
                                   id="password"
                                   name="password"
                                   th:field="*{password}">
                        </div>
                        <!--<div>
                            <input class="inputLoginUser" style="margin-top: 518px" type="text" name="tel" placeholder="Подтверждение пароля">
                        </div>
                        <div>
                            <input class="inputLoginUser" style="margin-top: 592px" type="text" name="tel" placeholder="Электронная почта">
                        </div>
                        <div>
                            <input class="inputLoginUser" style="margin-top: 666px" type="text" name="tel" placeholder="Адрес">
                        </div>-->
                        <div>
                            <button class="buttonLoginUser" style="margin-top: 676px">
                            Далее
                            </button>
                        </div>
                        <div>
                            <span class="textLoginUser1" href="" style="margin-top: 678px">
                                Демо -режим
                            </span>
                        </div>
                        <hr class="hrLoginUser" style="margin-top: 688px">
                        <div>
                            <span class="textLoginUser2" href="" style="margin-top: 678px">
                                Служба поддержки
                            </span>
                        </div>
                    </div> 
                    <img class="img1" src="/Img/appStore.jpg" style="margin-top: 678px">
                    <img class="img2" src="/Img/googlePlay.jpg" style="margin-top: 678px">
                </form>
            </div>
        </div>
    </div>      
</body>
</html>